/* Styles for desktop */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Italic.ttf');
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
    color: #f8f8d5;
    background-color: #100f32;
}

/*-------------------------------------Navbar Styles-------------------------------------*/

.navbar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 3rem;
    background-color: #4291ab;
} 

.logo-object {
    padding: 0 5rem;
}

.logo-text {
    font-size: 1.5rem;
    color: #f8f8d5;
}

.logo-link {
    text-decoration: none;
    color: #f8f8d5;
}

.menu-object {
    padding: 0 3rem;
}

.menu-list{
    display: flex;
    list-style-type: none;
    margin-left: 0;
}

.menu-list-item {
    padding: 1rem 1rem;
}

.navbar-links:hover {
    border-bottom: 2px solid #f8f8d5;
}

.navbar-links {
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    transition: all .25s;
    text-decoration: none;
    color: #f8f8d5;
}


/*-------------------------------------Home Styles-------------------------------------*/

.home {
    display: flex;
    margin: 5rem 5rem 0rem;
    padding: 10rem;
    align-items: center;
    justify-content: space-between;
}

.home-text {
    align-items: center;
}

.home-name {
    font-size: 6rem;
    font-style: italic;
    line-height: 4rem;
}

.home-button:hover {
    border: solid #4291ab 2px;
    background-color: #f8f8d5;
    border-radius: 1rem;
    font-family: "JetBrains Mono";
    color: #4291ab;
    padding: 1rem 1.5rem;
    margin: 0rem 0rem 1rem;
}

.home-button {
    border: solid #f8f8d5 2px;
    background-color: #4291ab;
    border-radius: 1rem;
    font-family: "JetBrains Mono";
    color: #f8f8d5;
    padding: 1rem 1.5rem;
    margin: 0rem 0rem 1rem;
    transition: all .25s;
}

.home-image {
    height: 500px;
    width: 500px;
    background-color: white;
}

/*-------------------------------------Portfolio Styles-------------------------------------*/

.portfolio {
    padding: 5rem;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    
}

.portfolio-heading {
    font-style: italic;
    font-size: 2rem;
}

.github-link:hover {
    background-color: #4291ab;
}

.github-link {
    height: 3rem;
    width: 3rem;
    transition: all .25s;
    background-color: transparent;
    margin: 1.5rem;
    border-radius: 50%;
}

.github-logo {
    height: 100%;
    width: 100%;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

.portfolio-item {
    padding: 3rem;
    flex-basis: 100%;
}

.project-preview {
    padding: 2rem;
    border: solid #f8f8d5 2px;
    border-radius: 2rem;
    align-items: center;
}

.portfolio-links {
    border-bottom: 2px solid transparent;
    transition: all .25s;
    text-decoration: none;
    font-size: 20pt;
    color: #f8f8d5;
}

.project-preview:hover > .portfolio-links {
    border-bottom: 2px solid #f8f8d5;
}

.portfolio-image {
    height: 200px;
    width: 200px;
    background-color: white;
}

/*-------------------------------------About Styles-------------------------------------*/

.about {
    padding: 5rem 5rem;
}

.about-text {
    border: solid #f8f8d5 3px;
    font-size: 1rem;
    border-radius: 5rem;
    justify-content: center;
}

.about-greeting {
    padding: 2rem 4rem 1rem 4rem;
    font-style: italic;
    font-size: 2.5rem;
}

.about-paragraph {
    padding: 1rem 4rem 2rem 4rem;
    text-align: justify;
}

.about-paragraph-text {
    padding: 1rem 1rem 1rem 12rem;
}

/*-------------------------------------Contact Styles-------------------------------------*/

.contact {
    background-color: #4291ab;
    padding: 5rem;
}

.contact-heading {
    font-style: italic;
    font-size: 2rem;
    color: #f8f8d5;
}

.contact-subheader {
    font-size: 1.5rem;
    color: #f8f8d5;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-form {
    height: fit-content;
    padding: 2rem 0 0 2rem;
}

.form-controls {
    padding: 0.5rem;
    font-family: 'JetBrains Mono';
    width: 50%; 
    margin: 0.75rem 0; 
    border: solid #100f32 2px;
    border-radius: 0.5rem;
    text-decoration: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.form-button:hover {
    margin: 1rem 1rem 1rem 2rem;
    width: 25%;
    border: solid #100f32 2px;
    background-color: #fff;
    border-radius: 1rem;
    font-family: "JetBrains Mono";
    color: #100f32;
    padding: 1rem 1.5rem;
}

.form-button {
    margin: 1rem 1rem 1rem 2rem;
    width: 25%;
    border: solid #fff 2px;
    background-color: #100f32;
    border-radius: 1rem;
    font-family: "JetBrains Mono";
    color: #fff;
    padding: 1rem 1.5rem;   
    transition: all .25s;
}

.contact-info {
    width: 50%;
}

.contact-info-list {
    margin-top: 2rem;
    list-style-type: none;
    padding: 2rem;
    justify-content: center;
    margin-left: 0;
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1rem;
}

.contact-logo-container {
    display: flex;
    justify-content: center;
    width: 25%;
    height: fit-content;
    align-items: center;
}

.contact-logo {
    height: 3rem;
    width: 3rem;
}

.contact-text-container {
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
}

.contact-link {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    text-decoration: none;
    color: #fff;
}

.contact-link:hover {
    border-bottom: 2px solid #fff;
}

/*-------------------------------------Misc-------------------------------------*/
