/* Styles for desktop */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #100f32;
}


/*-------------------------------------Navbar Styles-------------------------------------*/
.navbar {
    background-color: #4291ab;

}



/*-------------------------------------Home Styles-------------------------------------*/

.home {
    height: 100vh; 
}

.home-text {
    padding: 5rem;
    margin: 0;
    position: absolute;
    top: 50%;
}


/*-------------------------------------Portfolio Styles-------------------------------------*/

.portfolio {
    background-color: #4291ab;
}


/*-------------------------------------About Styles-------------------------------------*/




/*-------------------------------------Contact Styles-------------------------------------*/

.contact {
    background-color: #4291ab;
}


/*-------------------------------------Utilities-------------------------------------*/
