/* Styles for desktop */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #100f32;
}


/*-------------------------------------Navbar Styles-------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, #4291ab, #363D73); 
}

.logo {
    padding: 0 5rem;
}

.logo .logo-heading {
    color: #fff;
}

.menu {
    padding: 0 5rem;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-item {
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-item {
        padding: 0.5rem 0.3rem;
    }
}


/*-------------------------------------Home Styles-------------------------------------*/



/*-------------------------------------Utilities-------------------------------------*/

.links:hover {
    border-bottom: 2px solid #fff;
}

.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}